<ion-content [fullscreen]="true">

  <div class="login-container">
    <div class="left-side"></div>
    <div class="right-side"></div>
    <div class="login-card">

      <!-- Image -->
      <div class="image-section">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          alt="Login Image" />
      </div>

      <!-- Form -->
      <div class="form-section">
        <h2>Login Form</h2>
        <form [formGroup]="loginForm">

          <!-- Email -->
          <ion-item lines="none" class="custom-input">

            <ion-icon name="mail-outline" slot="start" color="primary">
            </ion-icon>

            <ion-input type="email" formControlName="email" placeholder="Enter Email">
            </ion-input>

          </ion-item>

          <!-- Password -->
          <ion-item lines="none" class="custom-input">

            <ion-icon name="lock-closed-outline" slot="start" color="primary">
            </ion-icon>

            <ion-input [type]="isPasswordHidden ? 'password' : 'text'" formControlName="password"
              placeholder="Enter Password">
            </ion-input>

            <ion-icon slot="end" color="primary" [name]="
        isPasswordHidden
          ? 'eye-off-outline'
          : 'eye-outline'
      " (click)="togglePasswordVisibility()">
            </ion-icon>

          </ion-item>

          <!-- Button -->
          <ion-button expand="block" class="login-btn" (click)="onLogin()">Login</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>